@model BicycleStore.Models.ViewModels.BicycleListViewModel
@{ }


<h1 style="margin-left: 112px; margin-top:50px; margin-bottom:50px; font-family: sans-serif">Bicycles List</h1>

<div style="margin-left: 112px; margin-top:50px; margin-bottom:20px; font-family: sans-serif" class="form-group">
    <input id="searchText" type="text" class="form-control" />
    <button style="margin-top:30px;" id="search" class="btn btn-primary">Search</button>
</div>


    <div id="car-list">

    </div>

    <a style="margin-left: 112px;" id="back"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
    <a style="margin-left: 10px;" id="forward"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
