@model BicycleStore.Models.ViewModels.BicycleListViewModel
@{ }

<h2 style=" font-family: sans-serif">Bicycles Store</h2>

<div  style="display:flex;  margin:auto; margin-top:50px; margin-bottom:20px; font-family: sans-serif" class="form-group">
    <input style="width: 300px;" id="searchText" type="text" class="form-control" />
    <button style="margin-left:30px;" id="search" class="btn btn-primary">Search</button>
</div>


    <div id="car-list">

    </div>

    <a style="margin-left: 112px;" id="back"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
    <a style="margin-left: 10px;" id="forward"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
